.container {
  max-width: 600px;
}

h4 {
  margin-bottom: 0;
  font-size: 1.5em;
}

p {
  color: #666;
  margin-bottom: 15px;
}

svg {
  width: 100%;
  margin: 0;
  padding: 0;
}

section {
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: dashed #666 1px;
}

.warning {
  color: chocolate;
}

.bar {
  height: 20px;
  margin: 0px;
  padding: 0px;
}


.title {
  fill: #000;
  font-size: 12px;
}

.positiveLabel {
  fill: steelblue;
}

.negativeLabel {
  fill: darkred;
}

.count {
  fill: #666
}

#chart {
  width:100%;
  height:100%;
}
